#page-body
{
    position: relative;
}

#svg1
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#wing1 {
    transform-origin: bottom  left;
    transform-box: fill-box;
    opacity:0.6;
    animation: rotateBox1 .15s  infinite;
}

@keyframes rotateBox1 {
    0%{ transform:rotate(0deg); }
    50%{ transform:rotate(-60deg); }
    0%{ transform:rotate(0deg); }
}
#wing2 {
    transform-origin: bottom  left;
    transform-box: fill-box;
    opacity:0.75;
    animation: rotateBox2 .15s  infinite;
}

@keyframes rotateBox2 {
    0%{ transform:rotate(0deg); }
    50%{ transform:rotate(30deg); }
    0%{ transform:rotate(0deg); }
}

/* Used to align forms on external section of the website.*/
.forms-box-full
{
    position: relative;
    padding: 20px;
    /*background-color: #f8f7f7;*/
    max-width: 100%;
    border: solid #e9eaea 2px;
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px;
    border-radius         : 5px;
}